#list_content{width: 100%;}
.location{width:97%;height: 37px; text-align: left;overflow: hidden;position: relative;margin: 20px auto;}
.location p{float: left;}
.location a.float{float: left;height: 20px;}
#hover_a:hover{display: block;height: 23px;}
.class_list{width: 82px;height: 218px;overflow-y:auto;border: 1px solid darkgray;position: absolute;top: 20px;left: 127px;display:none;z-index: 10;}
.class_list li{margin-bottom: 10px;}
.screen{border: 1px solid darkgray;margin-left: 10px;margin-top: 10px;}
.brand_screen{ width: 99%;height: 70px; border-bottom: 1px solid darkgray;position: relative;margin: 0 auto;}
.brand_screen li{width: 1191px;height: 70px;position: absolute;}
.brand_screen li p{float: left;width: 90px;height: 70px;line-height: 70px;text-align: right;padding-right: 10px;background: rgb(240,240,240);}
.brand_screen li a{float: left;border-right:1px solid darkgray;padding-right: 2px;margin-top: 10px;}
.brand_screen li a.che{float: right;border: none;background: darkgray;margin-right: 10px;}
.brand_screen li.hide{display: none;}
.screen_list{width: 99%;height: 100%;overflow: hidden;border-bottom: 1px dashed darkgray;margin: 0 auto;}
.screen_list li{float: left;height: 37px;line-height: 37px;}
.screen_list li a{display: block; width: 125px;height: 37px;line-height: 37px;text-align: center;}
.screen_list li.hd{ width: 90px; text-align: right;padding-right: 10px;background: rgb(240,240,240);}
.rank{width: 99%;height: 100%;border: 1px solid darkgray;margin:10px auto;}
.rank .rank_list{height: 37px;}
.rank_list li{float: left;height: 37px;line-height: 37px;margin-right: 30px;text-align: center;}
.rank_list li.ch_page{float: right;}
.rank_list li.ch_page p{float: left;}
.rank_list li.ch_page form{float: left;}
.rank_list li.g_bd a{display: block;width: 52px;height:26px; background: darkgray;line-height: 26px;text-align: center;margin-top: 5px;}
.rank_list li.red_bd a{display: block;width: 52px;height:26px; background: red;line-height: 26px;text-align: center;margin-top: 5px;color: white;}
.rank_list li.pic form input{width: 50px;height:26px;margin-top: 5px;}
.rank_list li.red_f a{color: red;}
.list_of_goods{width: 99%;height: 100%;margin:10px auto;border: 1px solid darkgray;overflow: hidden;}
.list-goods{ float: left; overflow: hidden;padding: 10px;}
.list-goods li{float: left;width: 230px;text-align: left;margin-right: 15px;margin-bottom: 10px;}
.list-goods li a img{display: block; border: 1px solid darkgray;width: 234px;}
.list-goods li a{font-size: 14px;}
.list-goods li span.now_price{font-size: 14px;font-weight: 700;color: red;}
.list-goods li span.old_price{font-size: 14px;color: gray;text-decoration: line-through;}
.page{width: 99%;height: 100%;margin:10px auto;overflow: hidden;padding: 5px;20px}
.pagelist{height: 37px;float: right;border: 1px solid darkgray;}
.pagelist li{float:left;width: 37px;height: 37px;font-size: 18px;text-align: center;line-height: 37px;cursor: pointer;border-right:1px solid darkgray  ;}
.pagelist li.ch-page{width: 80px;}
.pagelist li:hover{color: red;text-decoration: underline;}
.pagejump{float: right;margin-top: 5px;}
.pagejump form input{width: 30px;}
