@charset "utf-8";
.yg_logo{overflow: hidden;margin-left: 10px;}
.yg_logo a{height: 50px;float: left;margin-left: 50px;margin-top: 10px; border-right:1px solid darkgray ;padding-right: 20px;}
.yg_logo a img{margin-top: 10px;}
.yg_logo p{font-size: 22px;float: left;padding-left: 20px;margin-top: 20px;}
#login{width: 100%;height: 555px;background: url(../img/userlogin.jpg) no-repeat ;}
#login .form{width: 381px;height: 450px;background:white; float: right;margin-top: 50px;margin-right: 120px;}
#login .form p{ height:45px;width: 250px; margin-top: 25px;margin-left: 65px;}
#login .form p a{text-decoration: none; display: block; width: 125px;height: 45px;line-height: 45px;text-align: center;font-size: 14px;float: left;}
#login .form p a.login_a{background: #333333;color: white;}
#login .form p a.register_a{background: rgb(230,230,230);}
#login .form #warning{width: 312px;height: 20px;border: 1px solid white;margin-left:30px ;color: red;padding:3px;}
#login .form form {margin-top: 20px;}
#login .form form input{width: 312px;height: 38px;margin-bottom: 20px;border:1px solid darkgray;}
#login .form form input.btn{font-size: 18px;background:#e1373a;border: none;color: white;}
/*#login .form form input.username{background:url(img/icon_sig_reg.png) no-repeat   -170px -30px;}
#login .form form input.password{background:url(img/icon_sig_reg.png) no-repeat   -170px -60px;}*/
#login .form a.forget_a{float: right;margin-right: 50px;padding-bottom: 5px;text-decoration: underline;}
#login .form .other{overflow: hidden;margin-left: 50px;padding-top: 10px;}
#login .form .other li{width: 36px;height: 36px;float: left;margin-right:20px;}
#login .form .other li.weixin{background:url(img/icon_sig_reg.png) no-repeat   -37px -20px;}
#login .form .other li.zhifubao{background:url(img/icon_sig_reg.png) no-repeat   -73px -20px;}
#login .form .other li.qq{background:url(img/icon_sig_reg.png) no-repeat   -108px -20px;}
#login .form .other li.sina{background:url(img/icon_sig_reg.png) no-repeat   -37px -55px;}
#login .form .other li.renren{background:url(img/icon_sig_reg.png) no-repeat   -73px -55px;}
#login .form .other li a{ display:block;width: 36px;height: 36px;text-decoration: none;}
.bottom{padding-top: 20px;}
